
@{
    ViewBag.Title = "ForgotPassword";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h4>Forgot Password?</h4>


     @using (Html.BeginForm("ForgotPassword", "Home"))
     {
        <div class="form-horizontal">
            <div class="form-group">
                <label class="control-label col-md-2">Email:</label>
                <div class="col-md-10">
                    <input class="form-control" type="text" name="email" />
                    </div>
                </div>
            <div class="g-recaptcha inp50" data-sitekey="6LfZEAMTAAAAADrtpB9n57c42vBaC2UNUJMKjSJB"></div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Submit" class="btn btn-default" />
                    </div>
                </div>
        </div>
     }


@Html.Raw(ViewBag.CaptchaResponse)
@Html.Raw(ViewBag.FakeEmailMessage)
