
@{
    ViewBag.Title = "ResetPassword";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h4>Reset Your Password</h4>

    @using (Html.BeginForm("ResetPassword", "Home"))
    {
        <div class="form-horizontal">
            <div class="form-group">
                <label class="control-label col-md-2">Password: </label>
                <div class="col-md-10">
                    <input type="password" name="password" /><br />
                    </div>
                </div>
            <div class="form-group">
                <label class="control-label col-md-2">Password Confirm: </label>
                <div class="col-md-10">
                    <input type="password" name="passwordConfirm" /><br />
                    </div>
                </div>
            <input type="hidden" value="@Html.Raw(ViewBag.PasswordToken)" name="passwordToken" />
            <input type="hidden" value="@Html.Raw(ViewBag.UserID)" name="userID" />
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Submit" class="btn btn-default" />
                    </div>
                </div>
        </div>
    }

    @Html.Raw(ViewBag.Result)
