
@{
    ViewBag.Title = "SecureArea";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}
<!--Startup1.cs prevents this page from being accessed by unauthorized users-->
<h2>Welcome!</h2>

<p>This page is for registerd users only. Thanks for joining.</p>